* {
    /* outline: 1px solid red; */
}

header {
    min-height: 100vh;
    padding: var(--SectionPadding) 10px;
    background-image: url(../imgs/aboutbackground.jpg);
    background-size: cover;



}



.logo-letter {
    position: absolute;
    font-size: 40rem;
    z-index: 1;
    /* font-weight: bold; */
    color: rgba(48, 48, 48, 0.459);
}

.logo-letter::selection {
    background-color: transparent;
    color: rgba(48, 48, 48, 0.459);
}



.s {
    position: absolute;
    right: 0;
    top: -100px;
}

.p {
    left: 0%;
    top: 400px;


}

.o {
    right: 0%;
    top: 700px;
}

.t {
    left: 0%;
    top: 1300px;
}

.c {

    right: 0%;
    top: 1800px;
}

.oo {
    left: 0%;
    top: 2300px;
}

.d {
    right: 0%;
    top: 2800px;
}

.e {
    left: 4%;
    top: 3300px;
}

section {
    position: relative;
}

section.zero {
    padding: var(--SectionPadding) 10px var(--SectionPadding);
    position: relative;
    min-height: 100vh;
}

.text-right,
.text-left {
    z-index: 10;
    transition: all 1s ease;
    /* width: min(100%, 800px); */
    width: min(100%, 900px);
    font-size: 1.6rem;
    margin: 10px 0 50px;
    color: white;

    /* background-color: red; */
}


section.one {
    padding: 20px 10px 30px;
    position: relative;
    /* min-height: 100vh; */

}

section .introimg:nth-child(1) {
    max-width: 300px;
    width: 100%;
    height: 300px;
}

section .introimg:nth-child(2) {
    max-width: 600px;
    width: 100%;
    height: 300px;
}

section .introimg:nth-child(3) {
    max-width: 250px;
    width: 100%;
    height: 300px;
}

section .introimg img {
    width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: cover;
    /* filter: grayscale(1); */
    object-position: center;
}

.ball1 {
    width: 40px;
    height: 40px;
    z-index: 0;
    position: absolute;
    border-radius: 50%;
    background: linear-gradient(to top, var(--BlackBackground), var(--OrangeText));
    /* border: 1px solid red; */
}

.ball2 {
    width: 60px;
    height: 60px;
    z-index: 0;
    position: absolute;
    border-radius: 50%;
    background: linear-gradient(to top, var(--BlackBackground), var(--OrangeText));
    /* border: 1px solid red; */
}



section.tow {
    padding: var(--SectionPadding) 10px 0;
    position: relative;
    min-height: 100vh;
}

section.three {
    padding: 50px 10px;
    position: relative;
    min-height: 100vh;
}


img:not(.fly-image) {
    filter: grayscale(1);
}

.team-member {}

.leader-member {
    max-width: 400px;
    width: 100%;
    height: 450px;
    /* border: 1px solid orangered; */
    /* background-color: red; */
    /* border: 1px solid yellow; */
}

.team-member {
    max-width: 300px;
    width: 100%;
    height: 400px;
    /* border: 1px solid white; */

    /* background-color: red; */
    /* border: 1px solid yellow; */
}

.leader-member img {
    width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: cover;
    /* filter: grayscale(1); */
    object-position: center;
}

.team-member img {
    width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: cover;
    /* filter: grayscale(1); */
    object-position: center;
}

.leader-details {
    max-width: 600px;
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    /* margin-top: 100px; */
}











.about-news-line {
    height: fit-content;
    position: relative;
    overflow-x: hidden;
    background-color: #121212;

}

.about-news-line .about-news-p {
    width: 2000%;
    left: 20%;
    transition: .2s ease;
    animation: about-news-p 80s linear infinite;
    /* background-color: red; */
}

.about-news-line .about-news-p p {
    width: 50%;
    /* font-size: 1.2rem; */
    text-align: center;
    font-size: 8rem;
    /* background-color: red; */
    white-space: nowrap;
    color: transparent;
    -webkit-text-stroke: 2px white;
}

@keyframes about-news-p {
    0% {
        left: 20%;
    }

    100% {
        left: -2000%;
    }

}


@media (min-width:767px) {
    section.one .rows {
        min-height: 100vh;
    }
}

@media (max-width:766px) {

    .leader-member {
        max-width: 300px;
        width: 100%;
        height: 350px;
        /* border: 1px solid orangered; */
        /* background-color: red; */
        /* border: 1px solid yellow; */

    }

    .team-member {
        max-width: 300px;
        width: 100%;
        height: 350px;
        /* border: 1px solid white; */

        /* background-color: red; */
        /* border: 1px solid yellow; */
    }
    section .introimg:nth-child(1) {
        max-width: 350px;
        height: 300px;
        width: 100%;
    }

    section .introimg:nth-child(2) {
        max-width: 350px;
        height: 300px;
        width: 100%;
    }

    section .introimg:nth-child(3) {
        max-width: 350px;
        height: 300px;
        width: 100%;
    }
}

@media (max-width:666px) {
    .ball1 {
        width: 20px;
        height: 20px;
    }

    .ball2 {
        width: 30px;
        height: 30px;
    }


}