* {
    /* outline: 1px solid red; */
}

body {
    overflow-x: hidden;
}

header {
    min-height: 100vh;
    padding: var(--SectionPadding) 10px;
    /* background-color: var(--BlackBackground); */
}

header h1 {
    position: relative;
    z-index: 11;
}

/* change the content , fix first section  */







section.one .box {
    min-height: 70vh;
    place-content: center;
    gap: 100px;
    padding: 0 10px;
}

/* 
section.one .box p {
    font-size: 1.6rem;
    z-index: 1111;
    
} */

.text-right,
.text-left {
    z-index: 10;
    transition: all 1s ease;
    /* width: min(100%, 800px); */
    width: min(100%, 700px);
    font-size: 1.6rem;

    /* background-color: red; */
}

section.tow .text-left::first-line,
section.tow .text-right::first-line {
    background-color: var(--OrangeText);
    color: white;
}

.circle {
    width: 100px;
    height: 100px;
    z-index: 0;
}

header .circle.one {
    right: 20px;
    top: 200px;
    /* background-color: blue; */
}

header .circle.tow {
    left: 20px;
    top: 150px;
    /* background-color: green; */

}

header .circle.three {
    right: 160px;
    bottom: 50px;
    /* background-color: red; */
}

header .circle.four {
    left: 360px;
    bottom: 200px;
    /* background-color: red; */
}

section.one .circle:first-child {
    right: 260px;
    top: 100px;
    /* background-color: red; */
}

section.one .circle:nth-child(2) {
    right: 60px;
    top: 300px;
    /* background-color: gold; */
}

section.one .circle:nth-child(3) {
    top: 260px;
    left: 20px;
    /* background-color: blue; */
}

section.one .circle:nth-child(4) {
    left: 160px;
    top: 720px;
    /* background-color: green; */

}

section.one .circle:nth-child(5) {
    right: 50%;
    top: 800px;
    /* background-color: greenyellow; */

}

section.one .circle:nth-child(6) {
    right: 120px;
    top: 550px;
    /* background-color: purple; */

}

section.one .circle:nth-child(7) {
    right: 460px;
    top: 150px;
    /* background-color: white; */
}

section.one .circle:nth-child(8) {
    right: 90px;
    bottom: 0px;
    /* background-color: black; */

}

section.one .circle:nth-child(9) {
    left: 50%;
    bottom: 20px;
    /* background-color: brown; */
}




.questions-container {
    background-color: rgb(30, 30, 30);
    border-radius: 5px;
    position: relative;
    z-index: 111;
}


















section.tow {
    padding: var(--SectionPadding) 10px 0px;
    position: relative;
    min-height: 100vh;
}


img.stars1 {
    position: absolute;
    top: 100px;
    right: 5%;
    z-index: -1;
}

img.stars5 {
    position: absolute;
    top: 20%;
    left: 0%;
    z-index: -1;
    transform: scale(-1);
}

img.stars2 {
    position: absolute;
    z-index: -1;
    width: 150px;
    height: 150px;
    right: 0px;
    bottom: 160px;
}

img.stars3 {
    position: absolute;
    z-index: -1;
    /* width: 200px; */
    /* height: 200px; */
    left: 0px;
    bottom: 400px;
}

img.stars4 {
    position: absolute;
    z-index: -1;
    /* width: 200px; */
    /* height: 200px; */
    right: 60px;
    bottom: 50%;
}


.project {
    max-width: 400px;
    width: 100%;
    height: 360px;
    /* min-height: 350px; */
    /* height: 100%; */
    transition: .5s ease;
    /* overflow: hidden; */
}

.project1 {
    top: 300px;
}

.project2,
.project3 {
    top: 400px;
}

.project4 {
    top: 200px;
}

.project-img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.project::before {
    content: '';
    position: absolute;
    left: 0px;
    top: 100%;
    width: 100%;
    z-index: 111;
    padding: 10px;
    /* font-weight: bold; */

}

.projects-row:nth-child(1) .project:nth-child(1)::before {
    content: 'Web Application';
}

.projects-row:nth-child(1) .project:nth-child(2)::before {
    content: 'Custom UI&UX';
}

.projects-row:nth-child(2) .project:nth-child(1)::before {
    content: 'Hosting';
}

.projects-row:nth-child(2) .project:nth-child(2)::before {
    content: 'Mobile Application';
}

/* .project-img-small {
    max-width: 300px;
    width: 100%;
    height: 390px;
    transition: .5s ease;
} */


.projects-row {
    margin-bottom: 200px;
    /* background-color: gold; */
    flex-wrap: nowrap;
}



@media (max-width:991px) {
    .project {
        max-width: 330px;
        height: 400px;
    }

    /* 
    .project {
        max-width: 300px;
        height: 350px;
    } */
}

@media (max-width:800px) {
    .project {
        max-width: 290px;
        height: 290px;
    }

    /* .project {
        max-width: 260px;
        height: 310px;
    } */
}

@media (max-width:700px) {
    .project {
        max-width: 270px;
        height: 270px;
    }

    /* .project {
        max-width: 260px;
        height: 310px;
    } */
}

@media (max-width:600px) {
    .project {
        max-width: 220px;
        height: 220px;
    }

    .circle {
        width: 60px;
        height: 60px;
        z-index: 0;
    }

    section.one .box {
        min-height: 40vh;
    }
}

@media (max-width:500px) {
    .project {
        max-width: 170px;
        height: 170px;
    }

    /* .project {
        max-width: 140px;
        height: 210px;
    } */
    .project1 {
        top: 200px;
    }

    .project2,
    .project3 {
        top: 300px;
    }

    .project4 {
        top: 100px;
    }

}

@media (max-width:400px) {
    .project {
        max-width: 150px;
        height: 150px;
    }

    .projects-row {
        margin-bottom: 200px;
        /* background-color: gold; */
    }

    section.tow img.stars {
        display: none;
    }

    /* .project-img {
        max-width: 120px;
        height: 170px;
    } */
}






.product-box {
    /* background-image: url(/imgs/project1.png); */
    object-fit: cover;
    box-shadow: 0 5px 10px black;
}
.product-box img{
    max-width: 350px;
    width: 100%;
    height: 350px;
    /* height: 100%; */
    object-fit: cover;
}

/* @media (max-width:575px) { */
/* .product-box {
        max-width: 350px;
        max-height: 350px;
    }
} */

@media (max-width:400px) {
    img.stars {
        display: none;
    }

    section.tow {
        padding: 0 10px 150px;
    }

}

@media (max-width:300px) {}