header {
    min-height: 100vh;
    padding: var(--SectionPadding) 10px;
    background-color: var(--BlackBackground);
}

header .box {
    z-index: 1;
}

header .box p:first-child {
    letter-spacing: 8px;
}

header p:nth-last-child(2) {
    max-width: 750px;
    width: 100%;
}

header a {
    padding: 10px;
    width: 150px;
}

header a::before {
    content: '';
    position: absolute;
    left: 0px;
    bottom: 7px;
    width: 30px;
    height: 30px;
    background-color: var(--BlackTransparent);
    z-index: -1;
    border-radius: 50%;
    transition: .5s ease;
}

header a:hover::before {
    border-radius: 0px;
    width: 160px;
}

header img.s {
    right: 230px;
    width: 500px;
}

header .img {
    z-index: 0;
    object-fit: contain;
}

header img.p {
    bottom: 0;
    right: 50px;
    width: 200px;
}

header .stars {
    right: 300px;
    top: 300px;
}

header .arrow {
    left: 30%;
    bottom: 10px;
}





/* * here the height is from the box 
* not section's height */
section.one .box {
    min-height: 120vh;
    place-content: center;
    gap: 200px;
    padding: 0 10px;
}

section.one .box p {
    width: min(100%, 700px);
    font-size: 1.6rem;

}

section.one .text-right p,
section.one .text-left p {
    z-index: 10;
    transition: all 1s ease;
}

section.one .text-right p {
    margin-left: auto;
}

section.one .text-left p::first-line {
    background-color: var(--OrangeText);
    color: white;
}

section.one .circle {
    width: 200px;
    height: 200px;
    right: 400px;
    top: 600px;
    z-index: -1;
}

section.one img.stars2 {
    top: 400px;
    right: 5%;
    z-index: -1;
}

section.one img.stars3 {
    bottom: 300px;
    left: 10%;
    z-index: -1;
}

section.one .orange-box {
    bottom: 0;
    padding: 100px 10px;
    font-size: 2.4rem;
    font-weight: 300;
    transition: .8s ease;
}

section.one .orange-box p {
    transition: 1s ease;
}


section.one .orange-box::before {
    position: absolute;
    content: '';
    width: 300px;
    height: 300px;
    border-radius: 50%;
    left: -100px;
    top: 100px;
    background-color: rgba(255, 0, 0, 0);
    border: 1px solid rgba(255, 255, 255, 0.349);
    border-style: dashed;
    border-width: 3px;
    z-index: 0;
    animation: rotate 50s linear infinite;
}

@keyframes rotate {
    0% {
        rotate: 0deg;
    }

    100% {
        rotate: 360deg;
    }
}





section.tow {
    min-height: 80vh;
    padding: var(--SectionPadding) 10px;
}

section.tow li {
    width: fit-content;
}

section.tow h3 {
    letter-spacing: 8px;
}

section.tow .imgs {
    position: relative;
    /* background-color: rgba(255, 0, 0, 0.328); */
    min-height: 500px;
    height: 100%;
}

section.tow img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    transition: .5s ease;
}
section.tow ul li{
    cursor:default;
}

#tringle1 {
    top: 10%;
}

#tringle2 {
    top: 30%;
}

#tringle3 {
    top: 20%;
}






section.three {
    min-height: 100vh;
    padding: var(--SectionPadding) 10px 0;

}

section.three p {
    max-width: 450px;
    width: 100%;
    transition: .5s ease;
}

section.three img.o {
    top: 200px;
    transform: scale(-1);
    right: 0;
    max-width: 500px;
    width: 100%;
    z-index: -1;
}

section.three img.t {
    left: 0;
    transform: scale(-1);
    max-width: 600px;
    width: 100%;
    bottom: 10%;
    z-index: -1;
}

section.three img.circle {
    left: 0;
    width: 300px;
    z-index: -1;
}











/* section {
    height: 120vh;
    width: 100%;
}

section.black {
    background-color: black;
}

.circle {
    position: fixed;
    top: 0px;
    background-color: red;
    width: 100px;
    height: 100px;
    transition: .5s ease;
} */


@media (max-width:400px) {
    header img.stars {
        top: 85%;
        left: 10%;
    }
    header img.E {
        right: 10px;
    }
    header button::before {
        left: 5px;
    }
    header button:hover::before {
        width: 140px;
    }
    section.three .box p{
        font-size: 2rem;
    }
    section.one .circle {
        width: 100px;
        height: 100px;
        right: 100px;
        top: 660px;
        z-index: -1;
    }
    section.one img.stars2 {
        top: 200px;
        right: 5%;
    }
    
    section.one img.stars3 {
        bottom: 350px;
        left: 10%;
    }

    section.three .circle{
        display: none;
    }
}


@media (min-width:401px) and (max-width:787px) {
    section.one .circle {
        width: 140px;
        height: 140px;
        right: 100px;
        top: 660px;
        z-index: -1;
    }
    section.one img.stars2 {
        top: 200px;
        right: 5%;
    }
    
    section.one img.stars3 {
        bottom: 300px;
        left: 10%;
    }
}
@media (min-width:768px) {

}



@media (max-width:930px){
    section.three .box img.rellax{
        display: none;
    }
    section.three .box{
        justify-content: center;
    }
    section.three .box p{
        text-align: center;
        margin-bottom: 60px;
        max-width: 704px;
        font-size: 3rem;
    }
}
