@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('./library.min.css');

*::before,
*::after,
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* outline: 1px solid red; */
}

ul {
    list-style: none;
}

a {
    text-decoration: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
a {
    margin: 0;
    padding: 0;
}

body {
    /* height: 300vh; */
}

.section-title {
    font-size: 2rem;
    position: relative;
    margin-bottom: 40px;
    z-index: 1;
    color: var(--theme-text-1);
}

.section-title::before {
    content: '';
    position: absolute;
    left: -10px;
    top: 0px;
    width: 20px;
    height: 20px;
    background-color: var(--background_1);
    border-radius: 50%;
    z-index: -1;
}

section {
    padding-left: 270px;
    background-color: var(--theme-background-2);
    position: relative;
    transition: .4s linear;
    overflow: hidden;
}

.sidebar-big-screen,
.offcanvas-start {
    width: 230px !important;
    z-index: 11;
    background: var(--theme-background-1) !important;
    display: flex;
}

.sidebar-big-screen .icon-container,
.offcanvas-start .icon-container {
    border: 1px solid var(--background_2);
}

.sidebar-big-screen svg,
.offcanvas-start svg {
    fill: var(--background_2);
}

.sidebar-big-screen::before {
    content: 'A';
    position: absolute;
    font-size: 15rem;
    top: -20px;
    left: 0;
    color: rgb(156 156 156 / 41%);
    z-index: -1;
}

.dropdown-toggle {
    color: var(--theme-text-1) !important;
}

.dropdown-menu {
    background-color: var(--theme-background-1) !important;
    border: var(--theme-border-1) !important;
}

.dropdown-menu * {
    color: var(--theme-text-1) !important;
}

.dropdown-menu {}

.dropdown-menu li a:hover {
    color: var(--theme-text-1) !important;
    background-color: var(--theme-background-2) !important;
}

.offcanvas-button {
    position: fixed;
    top: 50px;
    left: 0;
    background-color: var(--background_1);
    z-index: 11;
    padding: 10px;
    font-size: 2rem;
    color: white;
    border: none !important;

}


@media (max-width:768px) {
    section {
        padding: 0 10px;
    }

    .sidebar-big-screen {
        display: none;
    }
}

.back-layer {
    position: absolute;
    left: 0px;
    top: 30%;
    width: 100%;
    height: 250px;
    background-color: var(--layer_1);
    z-index: 0;
}

.about .back-layer {
    transform: skewY(30deg);

}

.services .back-layer {
    transform: skewY(-30deg);

}

.portfolio .back-layer {
    transform: skewY(30deg);

}

.news .back-layer {
    transform: skewY(-10deg);


}

.contact .back-layer {
    transform: skewY(30deg);
}



.button1 {
    border: none;
    outline: none;
    background-color: var(--background_1);
    padding: 5px 10px;
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
    transition: .3s linear;
    width: fit-content;
    cursor: pointer;
}

.button1:hover {
    background-color: var(--background_3);
}

.container {
    position: relative;
    z-index: 1;
}

body::-webkit-scrollbar,
.modal::-webkit-scrollbar {
    width: 9px;
    height: 100px;
    background-color: var(--theme-background-2);
}


body::-webkit-scrollbar-thumb,
.modal::-webkit-scrollbar-thumb {
    background-color: var(--background_3);
}



/* ! make a variable for all margin left and padding left  */


.hero .img-box {
    max-width: 500px;
    width: 100%;
    max-height: 600px;
    height: 100%;
    position: relative;
    /* background-color: blue; */

}

.hero .back-cricle {
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    z-index: 0;
}

.hero .back-cricle:nth-child(1) {
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: var(--background_3);
    z-index: 0;
    border-radius: 50%;
    left: 0%;
    top: 30%;
    z-index: 0;
}

.hero .back-cricle:nth-child(2) {
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: var(--background_3);
    z-index: 0;
    border-radius: 50%;
    right: 0%;
    top: 30%;
    z-index: 0;
}

.hero .back-cricle:nth-child(3) {
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: var(--background_3);
    z-index: 0;
    border-radius: 50%;
    left: 0%;
    bottom: 0%;
    z-index: 0;
}

.hero .back-cricle:nth-child(4) {
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: var(--background_3);
    z-index: 0;
    border-radius: 50%;
    right: 0%;
    bottom: 0%;
    z-index: 0;
}

.hero .img-box img {
    background-color: rgba(255, 0, 0, 0);
    position: relative;
    z-index: 1;
}





.about .img-box {
    max-width: 400px;
    width: 100%;
    max-height: 450px;
    height: 100%;
}

.about .edu .cardd {
    padding: 20px 10px;
    box-shadow: 0 0 13px var(--background_3);
    border-radius: 10px 20px 10px 20px;
}

.about .bar-container {
    height: 17px;
    max-width: 500px;
    width: 100%;
    overflow: hidden;
}

.about .bar-line {
    height: 17px;
}

.about .icon {
    top: -10px;
    left: -20px;
    width: 50px;
    height: 50px;
    background-color: var(--background_1);
}

.about .date {
    width: fit-content;
}





.services p {
    max-width: 700px;
    width: 100%;
}

.services .service {
    max-width: 800px;
    width: 100%;
    background-color: var(--background_4);
    color: white;
    border-radius: 20px 30px 20px 30px;
    /* box-shadow: 0 0 13px var(--theme-text-3); */

}

.services .service:nth-child(even) {
    margin-left: auto;
}





.portfolio .project {
    max-width: 450px;
    width: 100%;
    height: 350px;
    position: relative;
    cursor: pointer;
    box-shadow: 0px 0px 10px var(--background_1);
    border-radius: 10px;
    overflow: hidden;
}

.portfolio .project::before {
    content: attr(data-name);
    font-size: 2rem;
    color: white;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background_3);
    opacity: 0;
    transition: .4s linear;
}

.project:hover::before {
    opacity: 1;
}










.counter {
    min-height: 35vh;
    height: 100%;
    background-image: url(./imgs/imagecompressor/counter-min.jpg);
    background-size: cover;
    background-attachment: fixed;
    font-weight: bold;
    color: white;
    position: relative;
    z-index: 0;

}

.counter::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.597);
}

.counter .boxes {
    max-width: 900px;
    width: 100%;
    position: relative;
    z-index: 1;
}





.testimonial .back-layer {
    position: absolute;
    left: 0%;
    top: 60%;
    transform: translateY(-50%);
    width: 100%;
    height: 40%;
    background-color: var(--theme-background-1);
    z-index: 0;
}

.testimonial .back-layer::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 80%;
    background-color: var(--layer_1);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

section.testimonial .box {
    max-width: 400px;
    width: 100%;
    /* border: 1px solid black; */
    padding: 20px;
    /* filter: blur(100%); */
    box-shadow: 0 0 10px var(--background_1);
}




.news .new {
    box-shadow: 0px 0px 10px var(--background_1);
    max-width: 450px;
    width: 100%;
    height: fit-content;
}
.news .new img{
    width: 100%;
    height: 300px;
}





.news-line {
    height: fit-content;
    position: relative;
}

.news-p {
    /* width: 300%; */
    left: 0%;
    transition: .2s ease;
    white-space: nowrap;
    animation: newsp 30s linear infinite;
}

.news-p p {
    line-break: loose;
    width: 100%;
    text-align: center;
}

@keyframes newsp {
    0% {
        left: 100%;
    }

    100% {
        left: -400%;
    }
}



.contact .cardd {
    box-shadow: 0px 0px 10px var(--background_1);
    max-width: 300px;
    width: 100%;
}


.contact svg {
    fill: var(--background_1);
}

.contact input,
.contact textarea {
    outline: none;
    border: var(--border_2);
    border-top: none;
    border-left: none;
    border-right: none;
    color: var(--background_1);
}

textarea {
    min-height: 300px;
    max-height: 350px;
}

.contact .icon-container {
    width: 40px;
    height: 40px;
}