
nav {
    z-index: 2;
    transition: .2s linear;
    background-color: rgba(255, 0, 0, 0.313);
    top: 10px;
}
nav .container{
    border-radius: 30px 0 30px 0;
    padding: 0 30px;
    transition: .5s linear;
}

nav svg {
    fill: var(--theme-text-1);
}

.navbar-brand {
    color: var(--text_1) !important;
    transition: .5s linear;
    font-weight: bolds;
}

.nav-link {
    color: var(--theme-text-1) !important;
}

.dropdown-menu{
    background-color: var(--theme-background-1) !important;
    border: var(--theme-border-1) !important;
}
.dropdown-menu p{
    color: var(--theme-text-1);
    cursor: pointer;
}
.dropdown-menu p:hover{
    background-color: var(--theme-background-1) !important;
    color: var(--theme-text-1);
}