.home {
    background-color: black;
    /* background-image: url(./imgs/64b024a5597d49.62473963.webp); */
    background-size: contain;
    background-position: center;
    position: relative;
    min-height: 100vh;
}
.home .container{
    position: relative;
    z-index: 0;
}

.home .back-layer1 {
    position: absolute;
    left: -20%;
    top: 10%;
    width: 45%;
    height: 60%;
    background-color: var(--backlayer_1);
    transform: skewX(20deg);
    z-index: 0;
    animation: layer1 20s ease infinite;
}

@keyframes layer1 {
    0% {
        left: -20%;
    }

    50% {
        left: -22%;
    }

    100% {
        left: -20%;
    }
}

.home .back-layer1-border {
    position: absolute;
    left: -20%;
    top: 12%;
    width: 50%;
    height: 50%;
    /* background-color:var(--background_1); */
    transform: skewX(20deg);
    outline: 5px solid var(--background_1);
    z-index: 0;
}



.home .back-layer2 {
    position: absolute;
    right: -20%;
    top: 58%;
    width: 45%;
    height: 40%;
    background-color: var(--backlayer_1);
    transform: skewX(-20deg);
    z-index: 0;
    animation: layer2 10s ease infinite;
}

@keyframes layer2 {
    0% {
        right: -20%;
    }

    50% {
        right: -22%;
    }

    100% {
        right: -20%;
    }
}

.home .back-layer2-border {
    position: absolute;
    right: -20%;
    top: 55%;
    width: 50%;
    height: 37%;
    /* background-color:var(--background_1); */
    transform: skewX(-20deg);
    outline: 5px solid var(--background_1);
    z-index: 0;
}


header.home h3 {
    font-size: 5rem;
}

header.home .img-box {
    max-width: 400px;
    width: 100%;
    max-height: 450px;
    height: 100%;
    /* border: 9px solid var(--backlayer_1); */
    box-shadow: 0px 0px 30px var(--background_1);
}


@media (max-width:767px) {
    header.home h3 {
        font-size: 4rem;
    }

    header.home .img-box {
        max-width: 300px;
        max-height: 320px;
    }
}
@media (max-width:400px) {
    header.home h3 {
        font-size: 3rem;
    }
}

@media (min-width:768px) and (max-width:992px) {
    header.home h3 {
        font-size: 3rem;
    }

}

.home .button1 {
    border: none;
    padding: 10px;
    font-size: 1rem;
    position: relative;
    background: transparent;
    color: var(--background_1);
    text-transform: uppercase;
    border: 2px solid var(--background_1);
    cursor: pointer;
    transition: all 0.7s;
    overflow: hidden;
    border-radius: 100px;
}

.home .button1:hover {
    color: white;
}



.home .button1 span {
    transition: all 0.7s;
    z-index: -1;
}

.home .button1 .first {
    content: "";
    position: absolute;
    right: 100%;
    top: 0;
    width: 25%;
    height: 100%;
    background: var(--background_1);
}

.home .button1:hover .first {
    top: 0;
    right: 0;
}

.home .button1 .second {
    content: "";
    position: absolute;
    left: 25%;
    top: -100%;
    height: 100%;
    width: 25%;
    background: var(--background_1);
}

.home .button1:hover .second {
    top: 0;
    left: 50%;
}

.home .button1 .third {
    content: "";
    position: absolute;
    left: 50%;
    height: 100%;
    top: 100%;
    width: 25%;
    background: var(--background_1);
}

.home .button1:hover .third {
    top: 0;
    left: 25%;
}

.home .button1 .fourth {
    content: "";
    position: absolute;
    left: 100%;
    top: 0;
    height: 100%;
    width: 25%;
    background: var(--background_1);
}

.home .button1:hover .fourth {
    top: 0;
    left: 0;
}